{% extends 'meyasubako/view.html' %}

{% load static %}

{% block content %}

<main id="main_detail">

  <div class="top">
    <div class="status">
      {% if opinions.status == 1 %}
      <img src="{% static 'images/discuss-ao.png' %}" alt="協議中" class="detail-sample"><p>協議中</p> 
    
      {% elif opinions.status == 2 %}
      <img src="{% static 'images/teacher-ao.png' %}" alt="回答待ち" class="detail-sample"><p>回答待ち</p>

      {% elif opinions.status == 3 %}
      <img src="{% static 'images/check-ao.png' %}" alt="解決済み" class="detail-sample"><p>解決済み</p>
    
      {% endif %}
    </div>
  
    <h1 id="detail_title">{{ opinions.title }}</h1>
  </div>

  
<div class="content">
  <p>{{ opinions.content }}</p>
</div>

<h1 class="title">議事録と経過</h1>

<div class="detail_timelines">


  {% for timeline in timelines %}
  
  <h2 class="timeline_title">{{ timeline.title }}</h2>
  <p>'{{ timeline.date_added|date:'y/m/d' }}</p>
  <p>{{ timeline.content }}</p>
  
  {% empty %}
  
  <p>この意見は現在執行部で検討中です。しばしお待ちください</p>
  
  {% endfor %}
   
  </main>
</div>



{% endblock content %}